body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
}

<<<<<<< HEAD
/* .navbar{
=======
li{
    margin-left: 10%;
}

ul{
    list-style-type: none;
}

.navbar{
>>>>>>> main
    
} */

.container{
    height: 100px;
}

.menu{
    text-align: center;
    background-color: white;
    width: 15vw;
    height: 75vh;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    height:auto;
    width: 100%;
    z-index: -100;
}


.censusInfo {
    position: absolute;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 30%;
    border: 2px solid black;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border-radius: 3px;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 2rem;
    display: inline-block;
    right: 0px;
}

/* .invisible {
    display: none !important;
} */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    /* width: 0; 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(17, 17, 17, 0.418); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 150px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 2px black;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

   /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


  /* The button used to open the sidebar */
.openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 25%;
    margin-left: 5vh;
    margin-top: 5vh;
}

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    color:white;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.selectDataContainer {
        display: inline-block;
        margin: 0 auto !important;
}


.link a:hover {
    -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
            transform: scale(1.05);  
  }
      
.link a {
    -webkit-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

#hamburger-menu {
transition: 5s;
}