body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 1px;
    // padding: 0;
    // white-space: normal;
}

.topRow {
    display: flex;
    flex-direction: column;
}

#hamburger-button {
    transition: 5s;
}

// The button used to open the sidebar
.openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 25%;
    margin-left: 5vh;
    margin-top: 5vh;
}

.censusInfo {
    width: 100%;
    position: absolute;
    z-index: 100;
    font-family: sans-serif;
    padding: 10px;
    padding-top: 3px;
    /* width: 30%; */
    border: 2px solid black;
    font-size: 14px;
    color: black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85);
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    // &.collapsedHeight {
    //     height: 100px;
    // }
}

.title-wrapper {
    display: flex;
    justify-content: center;

    #areaName {
        width: 300px;
        display: inline-block;
        min-height: 50px;
        max-width: 80%;
        text-decoration: underline;
        // border: green solid 2px;
        text-align: center;
        white-space: normal;
        margin-bottom: 3px;
    }
}

.expandDataMSG,
.hideDataMSG {
    display: flex;
    justify-content: center;
}

li {
    margin-left: 0;
}

.flex-line {
    display: flex;
    justify-content: space-between;
}

.right-align {
    display: inline-block;
    width: 110px;
}

.sidenav {
    height: 100%; // 100% Full-height
    width: 0; //0 width - change this with JavaScript
    position: fixed; // Stay in place
    z-index: 1; // Stay on top
    top: 0; // Stay at the top
    left: 0;
    background-color: rgba(17, 17, 17, 0.418);
    overflow-x: hidden; // Disable horizontal scroll
    padding-top: 150px; // Place content 60px from the top
    transition: 0.3s; // 0.5 second transition effect to slide in the sidenav

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 3px 2px black;
        color: #ffffff;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
        }
    }

    .closebtn {
        position: absolute;
        color: white;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }
}

.link {
    a {
        transition: all 0.1s linear;

        &:hover {
            transform: scale(1.05);
        }
    }
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: -100;
}

@media all and (min-width: 360px) {
    .censusInfo {
        position: absolute;
        font-family: sans-serif;
        margin-top: 1px;
        margin-right: 1px;
        padding: 5px;
        width: 25%;
        border: 2px solid black;
        font-size: 14px;
        color: black;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 2rem;
        display: inline-block;
        right: 0px;

        &.collapsedHeight {
            height: 100px;
        }
    }

    .title-wrapper {
        display: flex;
        justify-content: center;

        #areaName {
            width: 300px;
            display: inline-block;
            min-height: 50px;
            max-width: 80%;
            text-decoration: underline;
            // border: green solid 2px;
            text-align: center;
            white-space: normal;
            margin-bottom: 10px;
        }
    }

    .flex-line {
        display: flex;
        justify-content: space-between;
    }

    .right-align {
        display: inline-block;
        width: 140px;
    }
    
    .inactive {
        display: none !important;
    }
}
